In [1]:
import pymongo

# Creating a Database

To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

MongoDB will create the database if it does not exist, and make a connection to it.

In [2]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [3]:
myclient

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

Estou tentando criar um banco de dados, porem, no MongoDB, um banco de dados só é criado quando existe algo no mesmo

In [4]:
mydb = myclient["mydatabase"]
#Important: In MongoDB, a database is not created until it gets content!

#Remember: In MongoDB, a database is not created until it gets content, so if this is your first 
#time creating a database, you should complete the next two chapters (create collection and create document) 
# before you check if the database exists!

In [5]:
mydb

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase')

In [6]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [7]:
dblist = myclient.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")
else: print('not exists!')

not exists!

# Creating a Collection

A **collection** in MongoDB is the same as a **table** in SQL databases.

To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

MongoDB will create the collection if it does not exist.

In [8]:
mycol = mydb["customers"]

In [9]:
mycol

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers')

**Important**: In MongoDB, a collection is not created until it gets content!

MongoDB waits until you have inserted a document before it actually creates the collection.

In [12]:
print(mydb.list_collection_names())

[]

In [14]:
collist = mydb.list_collection_names()
if "customers" in collist:
  print("The collection exists.")
else: print('The collection not exists')

The collection not exists

# Insert Into Collection

A **document** in MongoDB is the same as a **record** in SQL databases.

To insert a record, or document as it is called in MongoDB, into a collection, we use the insert_one() method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [16]:
mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [29]:
print(x.inserted_id)

5d6f34077b530762c8aa76e9

If you do not specify an _id field, then MongoDB will add one for you and assign a unique id for each document.

In the example above no _id field was specified, so MongoDB assigned a unique _id for the record (document).

In [ ]:
#inseri um dado agora especificando seu id
mydict = { "name": "Daniel", "address": "Itibere Vieira", '_id':'1a'}

x = mycol.insert_one(mydict)

In [32]:
print(x.inserted_id)

1a

## Insert Multiple Documents
To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [34]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

In [39]:
x #um objeto many nao contem _id, e sim _ids

In [40]:
print(x.inserted_ids)

[ObjectId('5d6f34e87b530762c8aa76ea'), ObjectId('5d6f34e87b530762c8aa76eb'), ObjectId('5d6f34e87b530762c8aa76ec'), ObjectId('5d6f34e87b530762c8aa76ed'), ObjectId('5d6f34e87b530762c8aa76ee'), ObjectId('5d6f34e87b530762c8aa76ef'), ObjectId('5d6f34e87b530762c8aa76f0'), ObjectId('5d6f34e87b530762c8aa76f1'), ObjectId('5d6f34e87b530762c8aa76f2'), ObjectId('5d6f34e87b530762c8aa76f3'), ObjectId('5d6f34e87b530762c8aa76f4'), ObjectId('5d6f34e87b530762c8aa76f5')]

In [41]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

In [43]:
#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

https://www.w3schools.com/python/python_mongodb_find.asp