# Import module

In [180]:
from pymongo import MongoClient

# Making a Connection with MongoClient

In [7]:
client = MongoClient() #primeira forma de conectar com o cliente do banco, se eu n passar parametros, ele 
#usa os atributos padrao
print(client)
client.drop_database('test-database')

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

The above code will connect on the default host and port. We can also specify the host and port explicitly, as follows:

In [8]:
client = MongoClient('localhost', 27017)
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [9]:
client = MongoClient('mongodb://localhost:27017/')
print(client)

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

# Creating a Database

To create a database in MongoDB, start by creating a MongoClient object, then specify a connection URL with the correct ip address and the name of the database you want to create.

MongoDB will create the database if it does not exist, and make a connection to it.

A single instance of MongoDB can support multiple independent databases.

If your database name is such that using attribute style access won’t work (like test-database), you can use dictionary style access instead:

In [10]:
db = client['test-database']
#Important: In MongoDB, a database is not created until it gets content!

#Remember: In MongoDB, a database is not created until it gets content, so if this is your first 
#time creating a database, you should complete the next two chapters (create collection and create document) 
# before you check if the database exists!

Estou tentando criar um banco de dados, porem, no MongoDB, um banco de dados só é criado quando existe algo no mesmo

In [11]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test-database')

In [12]:
print(client.list_database_names())

['admin', 'config', 'local']

In [13]:
dblist = client.list_database_names()
if "mydatabase" in dblist:
  print("The database exists.")
else: print('not exists!')

not exists!

# Creating a Collection

A **collection** in MongoDB is the same as a **table** in SQL databases.

To create a collection in MongoDB, use database object and specify the name of the collection you want to create.

MongoDB will create the collection if it does not exist.

In [14]:
col = db["customers"]

In [15]:
col

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test-database'), 'customers')

**Important**: In MongoDB, a collection is not created until it gets content!

MongoDB waits until you have inserted a document before it actually creates the collection.

In [16]:
print(db.list_collection_names())

[]

In [18]:
collist = db.list_collection_names()
if "customers" in collist:
  print("The collection exists.")
else: print('The collection not exists')

The collection not exists

# Insert Into Collection

A **document** in MongoDB is the same as a **record** in SQL databases.

To insert a record, or document as it is called in MongoDB, into a collection, we use the **insert_one()** method.

The first parameter of the insert_one() method is a dictionary containing the name(s) and value(s) of each field in the document you want to insert.

In [19]:
mydict = { "name": "John", "address": "Highway 37" }

x = col.insert_one(mydict)

In [20]:
print(x.inserted_id)

5d70399da2b7b15c1d9da034

If you do not specify an _id field, then MongoDB will add one for you and assign a unique id for each document.

In the example above no _id field was specified, so MongoDB assigned a unique _id for the record (document).

In [ ]:
#inseri um dado agora especificando seu id
mydict = { "name": "Daniel", "address": "Itibere Vieira", '_id':'1'}

#o _id pode assumir um tipo int, e string para o mesmo valor, logo, eles sao diferenciados pelo tipo do dado;
#podemos ver isso com clareza no robo 3t

x = col.insert_one(mydict)

In [31]:
print(type(x.inserted_id))

<class 'str'>

## Insert Multiple Documents
To insert multiple documents into a collection in MongoDB, we use the insert_many() method.

The first parameter of the insert_many() method is a list containing dictionaries with the data you want to insert:

In [33]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = col.insert_many(mylist)

In [34]:
x #um objeto many nao contem _id, e sim _ids

In [35]:
print(x.inserted_ids)

[ObjectId('5d703a44a2b7b15c1d9da035'), ObjectId('5d703a44a2b7b15c1d9da036'), ObjectId('5d703a44a2b7b15c1d9da037'), ObjectId('5d703a44a2b7b15c1d9da038'), ObjectId('5d703a44a2b7b15c1d9da039'), ObjectId('5d703a44a2b7b15c1d9da03a'), ObjectId('5d703a44a2b7b15c1d9da03b'), ObjectId('5d703a44a2b7b15c1d9da03c'), ObjectId('5d703a44a2b7b15c1d9da03d'), ObjectId('5d703a44a2b7b15c1d9da03e'), ObjectId('5d703a44a2b7b15c1d9da03f'), ObjectId('5d703a44a2b7b15c1d9da040')]

In [38]:
mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = col.insert_many(mylist)

In [39]:
#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

## Python MongoDB Find

In MongoDB we use the **find** and **findOne** methods to find data in a collection.

Just like the **SELECT** statement is used to find data in a table in a MySQL database.

## Find One
To select data from a collection in MongoDB, we can use the **find_one()** method.

The **find_one()** method returns the first occurrence in the selection.

In [50]:
col.find_one('1')

{'_id': '1', 'name': 'Daniel', 'address': 'Itibere Vieira'}

No parameters in the find() method gives you the same result as SELECT * in MySQL.

# Find All

To select data from a table in MongoDB, we can also use the find() method.

The find() method returns all occurrences in the selection.

The first parameter of the find() method is a query object. In this example we use an empty query object, which selects all documents in the collection.

No parameters in the find() method gives you the same result as **SELECT in MySQL.**

In [43]:
print(col.find())

<pymongo.cursor.Cursor object at 0x7f37ac5eba20>

In [41]:
for line in col.find(): print(line)

{'_id': ObjectId('5d70399da2b7b15c1d9da034'), 'name': 'John', 'address': 'Highway 37'}
{'_id': '1', 'name': 'Daniel', 'address': 'Itibere Vieira'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da035'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da036'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da037'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da038'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da039'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da040'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

## Return Only Some Fields

The second parameter of the find() method is an object describing which fields to include in the result.

This parameter is optional, and if omitted, all fields will be included in the result.

In [82]:
col.find({}, { "_id": 0, "name": 1, "address": 1 }) #retorna um iterador

In [65]:
for line in col.find({}, { "_id": 0, 'address':0}): print(line)

{'name': 'John'}
{'name': 'Daniel'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}
{'name': 'John'}
{'name': 'Peter'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

You get an error if you specify both 0 and 1 values in the same object (except if one of the fields is the _id field):

In [68]:
for line in col.find({}, { "_id": 1, }): print(line)

{'_id': ObjectId('5d70399da2b7b15c1d9da034')}
{'_id': '1'}
{'_id': ObjectId('5d703a44a2b7b15c1d9da035')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da036')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da037')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da038')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da039')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03a')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03b')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03c')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03d')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03e')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da03f')}
{'_id': ObjectId('5d703a44a2b7b15c1d9da040')}
{'_id': 1}
{'_id': 2}
{'_id': 3}
{'_id': 4}
{'_id': 5}
{'_id': 6}
{'_id': 7}
{'_id': 8}
{'_id': 9}
{'_id': 10}
{'_id': 11}
{'_id': 12}
{'_id': 13}
{'_id': 14}

You get an error if you specify both 0 and 1 values in the same object (except if one of the fields is the _id field):

In [79]:
for x in col.find({},{ "_id": 1, "address": 0}):
  print(x)

OperationFailure: Projection cannot have a mix of inclusion and exclusion.

# Query

## Filter the Result
When finding documents in a collection, you can filter the result by using a query object.

The first argument of the find() method is a query object, and is used to limit the search.

In [87]:
list(col.find({'address':'Itibere Vie'}))

[]

In [89]:
list(col.find({'address':'Itibere Vieira'}))

[{'_id': '1', 'name': 'Daniel', 'address': 'Itibere Vieira'}]

## Advanced Query
To make advanced queries you can use modifiers as values in the query object.

E.g. to find the documents where the "address" field starts with the letter "S" or higher (alphabetically), use the greater than modifier: {"$gt": "S"}:

In [101]:
for line in col.find({"name":{ "$lt": "S" }}, {'_id':0}): print(line)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'Daniel', 'address': 'Itibere Vieira'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Chuck', 'address': 'Main Road 989'}

# Filter With Regular Expressions
You can also use regular expressions as a modifier.

**Regular expressions can only be used to query strings.**

In [127]:
for line in col.find({ "address": { "$regex": "^S" } }, {'_id':0, }): print(line)

{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Viola', 'address': 'Sideway 1633'}

# Sort the Result

Use the sort() method to sort the result in ascending or descending order.

The sort() method takes one parameter for "fieldname" and one parameter for "direction" (ascending is the default direction).

* sort("name", 1) #ascending
* sort("name", -1) #descending

In [147]:
for line in col.find({}, {'_id':0}).sort('name',1): print(line)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Daniel', 'address': 'Itibere Vieira'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'William', 'address': 'Central st 954'}

In [148]:
for line in col.find({}, {'_id':0}).sort('name',-1).limit(5): print(line)

{'name': 'William', 'address': 'Central st 954'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}

# Delete Document

To delete one document, we use the **delete_one()** method.

The first parameter of the delete_one() method is a *query* object defining which document to delete.

**Note**: If the query finds more than one document, only the first occurrence is deleted.

In [187]:
col.delete_one({ "_id": "1" })

In [188]:
list(col.find())

[{'_id': ObjectId('5d703a44a2b7b15c1d9da035'),
  'name': 'Amy',
  'address': 'Apple st 652'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da037'),
  'name': 'Michael',
  'address': 'Valley 345'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da038'),
  'name': 'Sandy',
  'address': 'Ocean blvd 2'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da039'),
  'name': 'Betty',
  'address': 'Green Grass 1'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da03a'),
  'name': 'Richard',
  'address': 'Sky st 331'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da03b'),
  'name': 'Susan',
  'address': 'One way 98'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da03c'),
  'name': 'Vicky',
  'address': 'Yellow Garden 2'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da03d'),
  'name': 'Ben',
  'address': 'Park Lane 38'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da03e'),
  'name': 'William',
  'address': 'Central st 954'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da03f'),
  'name': 'Chuck',
  'address': 'Main Road 989'},
 {'_id': ObjectId('5d703a44a2b7b15c1d9da040'),
  'name': 'Viola',
  'address': 'Sideway 1633'},
 {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'},
 {'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'},
 {'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'},
 {'_id': 5, 'name': 'Michael', 'address': 'Valley 345'},
 {'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'},
 {'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'},
 {'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'},
 {'_id': 9, 'name': 'Susan', 'address': 'One way 98'},
 {'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'},
 {'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'},
 {'_id': 12, 'name': 'William', 'address': 'Central st 954'},
 {'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'},
 {'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}]

https://www.w3schools.com/python/python_mongodb_delete.asp